div {
    max-width: 1600px;
}

#hero-img {
    margin: auto;
    width: 100%;
}

body {
    background-color: #000000A8;
    margin: auto;
    width: 100%;
}


.links img {
    width: 300px;
    border-radius: 50%;
    border: 12px solid #0000008e;
    margin: 100px;
    
}
